name: learn-github-actions
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  package:
    name: Package
    #Run on Ubuntu using the latest version
    runs-on: ubuntu-latest
    #Job's steps
    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build with Maven
        run: mvn -B package
        working-directory: API

